extends main2

block stylesheet
  <link href="/css/login.css" rel="stylesheet">

block content
  <main role="main" class="container h-100 w-100">
    <div class="h-100 row align-items-sm-center">
      <div class="col-6 col-sm-6 mb-sm-5 mb-0 align-self-center">
        <div class='d-flex justify-content-center'>
          h1#logo NODOS ENTEL
        </div>
      </div>
      <div class="col-12 col-sm-4 mb-sm-5">
        <form class="form-signin" method="POST" action="/login">
          if error != ""
            div(class="alert alert-danger")= error
          <div class='row mx-auto'>
            <div class='col'>
              <div class='d-flex justify-content-center'>
              </div>
            </div>
          </div>
          <h1 class="h4 mb-3 mx-2 font-weight-normal">Ingresa tu información</h1>
          <label for="inputEmail" class="sr-only my-5">Correo</label>
          <input type="text" name="user" class="form-control" placeholder="Usuario" required autofocus>
            <label for="inputPassword" class="sr-only my-5">Contraseña</label>
            <input type="password" name="password" class="form-control" placeholder="Contraseña" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
        </form>
      </div>
    </div>
  </main>
