.bg-dark-primary-color {
    background-color: #455A64!important;
  }
  .bg-light-primary-color{
    background-color: #CFD8DC!important;
  }
  .bg-primary-color{
    background-color: #607D8B!important;
  }
  .bg-accent-color{
    background-color: #009688!important;
  }
  
  body {
    background-color: #eee;
    font-family: 'Montserrat', sans-serif;
  }
  
  