html, body {
  height: 100%;
  min-height: 100%;
  margin:0;
}

img {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

#Main {
  overflow: hidden;
}

.NavbarDiv {
  height: 40px;
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  z-index:2;
}

.ContentDiv {
  box-sizing: border-box;
  padding-top:0px;
  z-index:1;
}

#infoTramo, #infoAdicional, #paginationDiv {
  display: none;
}

.bg-dark-primary-color {
  background-color: #455A64!important;
}
.bg-light-primary-color{
  background-color: #CFD8DC!important;
}
.bg-primary-color{
  background-color: #607D8B!important;
}
.bg-accent-color{
  background-color: #009688!important;
}

#canvasDiv {
  border-radius: 5px;
}

#content {
  max-height: 100% - calc();
}

#infoTramo, #infoTabla {
  display: none;
}

.table tbody tr.highlight td {
  background-color: rgb(103, 136, 167);
  border-color: rgb(103, 136, 167);
}

